<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link href="//fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">

</head>
<body>
<div class="search-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3  col-sm-6 col-sm-offset-3">
                <div class="input-group">
                    <input type="text" class="form-control" id="question-field"
                           placeholder="Введите ваш вопрос...">
                      <span class="input-group-btn">
                        <button class="btn btn-success" id="question-btn" type="button">Поиск</button>
                      </span>
                    <div class="gn" id="question-microphone">
                        <div class="mc"></div>
                    </div>

                    <!--
                    Бинарный отклик от пользователя
                    Анализ результатов: процент "правильных ответов" и сами заданные вопросы; критерий Стьюдента

                    Внести изменение в ТЗ по поводу не 5-балльной шкалы, а 2-балльной
                    -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3  col-sm-6 col-sm-offset-3">
                <div id="question-hint" role="alert">
                    Например:
                    <i id="question-hint-text1"> Какая столица Украины? </i>
                    или
                    <i id="question-hint-text2"> Джордж Вашингтон? </i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3  col-sm-6 col-sm-offset-3">
                <div class="alert alert-warning hidden text-center" id="feedback-frame" role="alert">
                    <div class="text-center"> Это правильный ответ? </div>
                    <div class="btn-group" id="feedback-btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-success" id="btn-yes">&nbsp;Да&nbsp;</button>
                        <button type="button" class="btn btn-warning" id="btn-no">Нет</button>
                    </div>
                </div>
                <div class="alert alert-info hidden" id="answer" role="alert">
                    <div id="answer-text"></div>
                    <img id="answer-img" src="" alt="Image">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal"><!-- Place at bottom of page --></div>

<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/main.js"></script>

</body>
</html>