{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
      <h2>Upsert</h2>
      <form action="{{ url_for('upsert_entry', entity=entity) }}" method="post" class="add-entry">
        <dl>
          {% for field in fields %}
              <dt>{{ field }}:</dt>
              <dd><input type="text" size="70" name="upsert_{{ field }}">
          {% endfor %}
          <dd><input type="submit" value="UPSERT">
        </dl>
      </form>

      <h2>Delete</h2>
      <form action="{{ url_for('delete_entry', entity=entity) }}" method="post" class="delete-entry">
        <dl>
          {% for field in fields %}
              <dt>{{ field }}:</dt>
              <dd><input type="text" size="70" name="delete_{{ field }}">
          {% endfor %}
          <dd><input type="submit" value="DELETE">
        </dl>
      </form>

      <h2>Search</h2>
      <form action="{{ url_for('search_entry', entity=entity) }}" method="post" class="search-entry">
        <dl>
          {% for field in fields %}
              <dt>{{ field }}:</dt>
              <dd><input type="text" size="70" name="search_{{ field }}">
          {% endfor %}
          <dd><input type="submit" value="SEARCH">
        </dl>
      </form>
  {% endif %}
  <table border="1" class="entities">
    <caption><h3>Table {{ entity }}</h3></caption>
     <tr>
      {% for field in fields %}
        <th>{{ field }}</th>
      {% endfor %}
     </tr>

     {% for entry in entries %}
        <tr>
        {% for value in entry %}
          <td contenteditable="true" name="{{ entry }}">{{ value }}</td>
        {% endfor %}
          <!--<td>delete</td>-->
        </tr>
     {% endfor %}
  </table>
{% endblock %}